body {
    margin: 0;
}

.code-block {
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin-top: 0.5em;
    font-size: 110%;
}

.info-header {
    border-bottom: 1px solid;
    font-weight: bold;
    font-family: sans-serif;
}

.running {
    display: none;
}

.leanlink {
    font-size: 80%;
}



.u-hide-visually {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.leaneditorContainer {
    height: 99vh;
    display: flex;
    flex-direction: column;
}

.leanheader {
    display: flex;
}

.headerContainer {
    overflow: hidden;
}

.headerForms {
    padding: 1em 1em 0.25em 1em;
    flex-grow: 1;
}

.urlForm {
    display: flex;
}

.urlForm form {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.urlForm input[type='text'] {
    flex: 1;
}

.editorContainer {
    flex: 1;
    position: relative;
    border-top: 1.5px dotted rgb(93, 101, 116);
}

.monacoContainer {
    height: 98%;
    width: 100%;
    margin: 1ex 0em 1ex -1.5ex;
    padding-right: 10px;
    overflow: hidden;
}

.infoContainer {
    margin: 1ex;
}

.toggleDoc {
    margin-top: 1em;
    cursor: pointer;
    white-space: pre-wrap;
}

/* https://alligator.io/css/collapsible/ */
.wrap-collabsible {
    margin-bottom: 1.2rem 0;
}

input[type='checkbox']#collapsible  {
    display: none;
}

.lbl-toggle {
    display: block;
    text-align: center;
    color: #222;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #44a;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked  + .lbl-toggle + .collapsible-content {
    max-height: 10em;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (max-width: 800px) {
    .logo {
        display: none;
    }
    .running {
        display: inline;
    }
    .leanheader {
        font-size: 80%;
    }
    .leanlink {
        font-size: 110%;
    }
}

@media screen and (max-width: 450px) {
    .url {
        display: none;
    }
}

.Resizer {
    z-index: 1;
    background-color: #ccc;
}

.Resizer:hover {
    background-color: #999;
}

.Resizer.horizontal {
    cursor: row-resize;
}

.Resizer.vertical {
    cursor: col-resize;
}



/*  ------------------------    */



html {
    position: relative;
  }
  
  body {
    margin: 0;
  }
  
  div#wrapper {
    width: 100%;
    min-height: 100%;
  }
  
  div#content {
    padding: 1em;
    width: calc(70% - 2em);
    overflow-y: scroll;
    position: fixed;
    height: calc(100% - 8em);
    margin: 1em;
    border: black;
    border-style: double;
  }
  
  div#tactic_state_wrapper {
    top: 4em;
    position: fixed;
    margin-left: 70%;
    margin: 1em 1em 1em 70%;
    padding: 1em;
    width: calc(30% - 6em);
    height: calc(100% - 8em);
    border-style: double;
  }

  div.content {
    line-height: 1.4rem;
  }
  
  p {
    line-height: 1.5rem;
  }

  .underbar {
    text-decoration: underline;
  }
  
  
  
  div.definition_wrapper {
    margin-top: 1rem;
  }
  
  span.definition_label {
    font-weight: bold;
  }
  
  div.definition_content {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 0.15rem solid black;
  }
    
  div.definition_lean {
    display: none;
  }
  
  div.example_wrapper {
    margin-top: 1rem;
  }
  
  span.example_label {
    font-weight: bold;
  }
  
  div.example_content {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 0.25rem solid black;
  }
  
  div.example_lean {
    display: none;
  }
  
  div.lemma_wrapper {
    margin-top: 1rem;
  }
  
  span.lemma_label {
    font-weight: bold;
  }
  
  div.lemma_content {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 0.15rem solid black;
  }

  div.lemma_proof {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 0.15rem solid black;
  }
  
  /* TODO : change div.lemma_lean ! */
  div.lemma_lean {
    display: block; 
  }
  
  div.theorem_wrapper {
    margin-top: 1rem;
  }
  
  span.theorem_label {
    font-weight: bold;
  }
  
  div.theorem_content {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 0.25rem solid black;
  }
  
  div.theorem_lean {
    display: none;
  }
    
/* -------------------------------------- */

.accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
  background-color: #f4f4f4;
  color: #444;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
}

.accordion__button:hover {
  background-color: #ddd;
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

.accordion__panel {
  padding: 5px;
  animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}